  nav{
            display: flex;
            list-style: none;
            gap: 30px;
      background-color: aqua;


        }
        nav ul{
            color: white;
            text-decoration: none;
            font-weight: bold;
            display: flex;
            list-style: none;
            align-items: center;
        }
        nav ul li{
            color: black;
            text-decoration: none;
            padding: 20px;
        }
        nav ul li:hover{
            background-color: darkslategray;
            padding: 10px;
            border-radius: 10px;

        }
          /*HERO SECTION*/
    .hero-image{
        background-image: url("https://cdn.pixabay.com/photo/2015/08/05/11/11/antwerpen-876262_960_720.jpg");
        background-size:cover;
        background-position: center;
        height: 570px;
        border-radius: 15px;
        margin: 20px;
    }
    .hero-text{
        color: firebrick;
        font-size: 42px;
        font-weight: bold;
        text-align: center;
        text-decoration: underline;
        position: relative;
        top: 50%;
        transform: translatey(-50%);
    }
    p{
        color: peru;
        font-size: 22px;
        font-weight: bold;
        margin: 20px;
        line-height: 1.6;
    }
    section {
        background-color: aqua;
        font-family: Inconsolata;
        border-radius:22px;
    }
    about_us h1{
        color: aquamarine;
    }
     iframe{
        width: 100%;
    }
    .youtube{
        list-style-type: none;
        align-items: center;
        display: flex;
        padding: 20px;
    }
    .you{
        padding: 22px;
        display: flex;
        align-items: center;
        margin: auto;
    }
    footer{
        text-align: center;
        padding: 10px;
        background-color: darkslategray;
        color: whitesmoke;
        border-radius: 23px;
        margin-top: 20px;
    }